	<footer>
		<div class="footer-container">
			<ul class="footer-list">
			  <li><a href="/threads">Threads</a></li>
			  <li><a href="/logout">Log out</a></li>
			  <li><a href="/userpage/<%= user.id %>"><%= user.name %></a></li>
			</ul>  
		</div>
	</footer>