<div class="container d-flex flex-row justify-content-between align-items-center mb-4">

  <div>
    <h2 class="font-weight-bold">LocalHost:8081</h2>
    <h6 class="text-secondary">Probably the best forum in the world</h6>
  </div>
  <div class="d-flex flex-row justify-content-start align-items-center">


        <div class="d-flex flex-row justify-content-start align-items-center">
        <a href="/" class="mr-1 btn btn-outline-primary " >Threads</a>
          <div><a href="/userpage/<%= user.id %>" class="btn btn-outline-secondary" ><%= user.name %></a></div>
          <% if (user.image==null){ %>
            <img src="<%= assetpath %>assets/images/kappa.png" class="ml-1 bg-secondary rounded-circle" style="height: 30px; width: 30px;"/>
          <%} else { %>
            <img src="<%= user.image %>" class="bg-secondary rounded-circle" style="height: 30px; width: 30px;"/>"
          <% } %>
        </div>
    <!-- <button class="mr-1 ml-2 btn btn-outline-danger " onclick="">Log out</button> -->
    <a href="/logout"> Log out </a>

  </div>
</div>
