<div class="container">
  <h2>Threads</h2>
  <table id="posts-table" class="table table-hover">
    <thead class="thead-light" data-events="postEvents">
      <th scope="col" data-field="id" data-visible="false">Id</th>
      <th scope="col" data-field="title" data-sortable="true">Title</th>
      <th scope="col" data-field="created" data-sortable="true">Created</th>
      <th scope="col" data-field="favorite" data-sortable="true"></th>
    </thead>
    <tbody>
      <% if (typeof posts !== 'undefined') { %>
        <% posts.forEach(function(post) { %>
          <tr>
            <td><%= post.id %></td>
            <td><%= post.title %></td>
            <td><%= post.date %></td>
            <% if (post.favorite){ %>
              <td data-align='right' data-width=10 class="text-warning"><i class="fas fa-star"></i></td>
            <% } else{ %>
              <td data-align='right' data-width=10 class="text-secondary"><i class="far fa-star"></i></td>
            <% } %>
          </tr>
        <% }); %>
      <% } %>
    </tbody>
  </table>

  <a class="btn btn-primary" href="/post/new">New thread</a>
</div>

<script>
function getSelectedPost(id) {
  window.location = "/post/" + id;
}

function createPostsTable() {
  var $table = $('#posts-table');

  $table.on('click-row.bs.table', function (e, row, $element) {
    getSelectedPost(row.id);
  });

  $table.bootstrapTable({
    toolbar: ".toolbar",
    clickToSelect: false,
    showRefresh: false,
    search: true,
    showToggle: false,
    showColumns: false,
    pagination: true,
    searchAlign: 'right',
    pageSize: 20,
    pageList: [8,10,25,50,100],
    formatShowingRows: function(pageFrom, pageTo, totalRows){
      //do nothing here, we don't want to show the text "showing x of y from..."
    },
    formatRecordsPerPage: function(pageNumber){
      return pageNumber + " rows visible";
    },
    icons: {
      refresh: 'fa fa-refresh',
      toggle: 'fa fa-th-list',
      columns: 'fa fa-columns',
      detailOpen: 'fa fa-plus-circle',
      detailClose: 'fa fa-minus-circle'
    }
  });

  $(window).resize(function () {
    $table.bootstrapTable('resetView');
  });
}

$().ready(createPostsTable());

</script>
