<% if (typeof assetpath === 'undefined') { assetpath = '' } %>
<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
    <% include partials/header %>
  	<link rel="stylesheet" type="text/css" href="<%= assetpath %>assets/css/about.css">


  </head>
  <body>

  	
    <div class="container">
        <h2> What's Localhost8081 Forum?<h2>

        <p> Localhost8081 Forum is one of the best forum's in the world. It keeps your identity safe, doesn't use cookies other than what's necessary to keep you logged in and has won many awards such as Free speech Award and Nobel Prize. In the modern world it's easy to forget how important free speech is and since we live in a digital world where every thing in the internet is written in ink, here you can speak what you really blieve without having to fight social warriors.</p>
    </div>

  </body>
  <% include partials/footer %>
</html>