<% if (typeof assetpath === 'undefined') { assetpath = '' } %>
<!doctype html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>

  <form id="newPostForm" action="javascript:void(0);">
    <div class="form-group">
        <label class="control-label">Title</label>
        <input
              name="title"
              type="text"
              required="true"
              placeholder="Name..."
              class="form-control">
    </div>

    <div class="form-group">
      <label class="control-label">Text</label>
      <textarea class="form-control" required
                name="text"
                rows="3"
                placeholder="E.g. My first forum thread"
                ></textarea>
    </div>

    <button class="btn btn-success" onclick="postForm('#newPostForm', '/post/new', '/')">Start thread</button>
		<button class="btn btn-light" onclick="">Cancel</button>
  </form>
</body>
</html>
