<% if (typeof assetpath === 'undefined') { assetpath = '' } %>
<!doctype html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>

  <%- include('partials/posts', {assetpath:assetpath, posts:posts}) %>
  
</body>
</html>
