<% if (typeof assetpath === 'undefined') { assetpath = '' } %>
<!doctype html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>

  <div>
		<div class="p-3 mb-2 bg-primary text-white">
    <h2><%= post.title %></h2>
	</div>
		<div class="container" colour>
    <p><%= post.text %></p>
		</div>
  </div>
</body>
</html>
